
main {
    flex-wrap: wrap;
    background-color:$color-secundario;
    /* height: 500vh; */ 
}
/* 
 */

.columna__grid{
    width: 100vw;
    height: 100vw; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas:"musculacion boxeo cross"
                        "spinning funcional relax";
    justify-content: center; 
    background-color: $color-secundario ;        
    row-gap: 15px; 
    column-gap: 15px;
.musculacion{
    background-image: url("../resources/musculacionindex5.png");
    grid-area: musculacion;
    background-position: center;
    background-size:cover ;

    &:hover{
    transform: scale(1.05,1.05);
    transition: all 0.5s
}
}
.boxeo{
    background-image: url("../resources/box.png");
    grid-area: boxeo;
    background-position: center;
    background-size:cover ;

    &:hover{
    transform: scale(1.05,1.05);
    transition: all 0.5s
}
}

.cross{
    background-image: url("../resources/crossindexx3.png");
    grid-area: cross;
    background-position: center;
    background-size:cover ;
    &:hover{
    transform: scale(1.05,1.05);
    transition: all 0.5s
}
}

.spinning{
    background-image: url("../resources/spinning.png");
    grid-area: spinning;
    background-position: center;
    background-size:cover ;
    &:hover{
    transform: scale(1.05,1.05);
    transition: all 0.5s
}
}

.funcional{
    background-image: url("../resources/funcionalindex4.png");
    grid-area: funcional;
    background-position: center;
    background-size:cover ;
    &:hover{
    transform: scale(1.05,1.05);
    transition: all 0.5s
}
}
.relax{
    background-image: url("../resources/yogaindex6.png");
    grid-area: relax;
    background-position: center;
    background-size:cover ;
    &:hover{
    transform: scale(1.05,1.05);
    transition: all 0.5s
}
}

} 

.mate {
    background-color: $color-secundario;
}
    .mate__lista {
        list-style: none;
        padding: 40px;
        font-size: 40px;
        color: $color-principal;
}
    .mate__lista1{
        list-style: none;
        padding:40px ;
        font-size: 40px;
        color: $color-principal;
} 


.galeria {
    background-color: rgb(255, 255, 255);
    
}
.boton{
    
    color: $color-secundario;
    background-color:$color-principal ;
    width: 300px;
    padding: 20px;
    font-size: 30px;
    
    

} 
.tabla__horarios{
    width: 90vw;
    /* margin: 10px; */
    height: 700px;
    
}

.titulo__contactanos{
    background-image: url("../resources/portada02.png");
    text-align: center;
    color: $color-principal;
}

.titulo__horario{
    background-image: url("../resources/portada3.png");
    text-align: center;
    /* padding: 40px;
    font: 40px; */
    color: $color-principal;
    
}
.titulo__sedes{
    background-image: url("../resources/portada4.png");
    text-align: center;
    /* padding: 40px;
    font: 40px; */
    color: $color-principal;
    background-color: $color-secundario;
}
.titulo__planes{
    background-image: url("../resources/portada5.png");
    text-align: center;
    /* padding: 40px;
    font: 40px; */
    color: $color-principal;
    background-color: $color-secundario;
}

.flex__planes{
    display: flex;
    list-style: none;
    padding: 0 10px;
    flex-wrap: wrap;
    align-items: auto;
    justify-content: center;
    flex-grow: 3;
}

.img__horario {
    width: 100vw;
    justify-content: center;
}

.foto__sedeprincipal{
    @extend .extend-sede;
}
.foto__sedebanfield{
    @extend .extend-sede;
}

.fondo__planes{
    background-color: $color-secundario;
}
.foto__sede{
    @extend .extend-sede;
}
.mapa__sede{
    width: 90vw;
    /* margin: 50px; */
    height: 300px;
}
.logo__ig{
    width: 35px;
    background-position: 50vw;
}
.logo__wpp{
    width: 40px;
    background-position: 50vw;
}
.logo__fb{
    width: 25px;
    background-position: 50vw;
}

.galeria__img--destacada {
    /* border-top:solid 10px rgb(240, 236, 12) ;
    border-bottom: solid 10px rgb(240, 236, 12); */
    
    background-color: rgb(252, 252, 252);
    width: 80vw;
    height: 40vw;
    /* margin: 100px; */
    
}
.galeria__fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly ;
    padding: 50px;
    background-color: white;
}
.actividades__horario{
    width: 65%;
    height: 400px;
    margin: 20px;
}
.foto1{
    
    background-color: $color-secundario;
    @extend .extend-foto;
}

.foto2{
    background-color: $color-secundario;
    @extend .extend-foto;
}

.foto3{
    background-color: $color-secundario
    ;
    @extend .extend-foto;
}

.foto4{
    background-color: $color-secundario;
    @extend .extend-foto;
}

.foto5{
    background-color: rgb(255, 255, 255);
    @extend .extend-foto;
}

.foto6{
    background-color: $color-secundario;
    @extend .extend-foto;
}

.wpp__img {
    width: 70px;
}

.index__img {
    width: 300px;
}
.horarios__grid{
    width: 100vw;
    height: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:"portada portada portada"
                        "cardio  yoga box"
                        "cardio spinning cross";
                        background-color: $color-secundario;
    row-gap: 15px;
    column-gap: 15px;
}
.portada{
    @extend .background-centrado;
    grid-area: portada;
    background-image: url("../resources/portada.png");
}
.cardio{
    background-image: url("../resources/cardio.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: cardio;
    height: 100%;
}
.yoga{
    grid-area: yoga;
    background-image: url("../resources/yoga.png");
    @extend .background-centrado;
}
.box{
    
    grid-area: box;
    background-image: url("../resources/box.png");
    @extend .background-centrado;
}

.spinning{
    grid-area: spinning;
    background-image: url("../resources/spinning.png");
    @extend .background-centrado;
}
.cross{
    grid-area: cross;
    background-image: url("../resources/cross.png");
    @extend .background-centrado;
}

.plan__1 {
    @extend .extend-planes;

}

.plan__2 {
    @extend .extend-planes;
}
.plan__3 {
    @extend .extend-planes;
}

.plan__4 {
    @extend .extend-planes;
} 

.plan__5 {
    @extend .extend-planes;
}