/* MEDIA DE CELULAR */
@media  (min-width: 320px) and (max-width: 575px) {
    header{
        
        height: auto;
    }
    /* .mapa__sede{
        width: 70vw;
        margin: 30px;
        height: 200px;
    }
     */
    
    h1 {
        text-align:left;
        padding: 5px;
        font-size: 30px;
        font-family: 'Noto Sans Display', sans-serif;
        color:$color-principal;
        background-image: url('../resources/portadaindexsola.png');
        background-position:center;
        }
        .url{
            background-position: center;
        }
    .tabla__horarios{
        width: 90vw;
        margin: 25px;
        height: 700px;
        
    }
    .header__lista{
        flex-direction: column;
        flex-grow: 0;
        justify-content: center;
        align-items: center;
    }
    .header__nav{
        flex-direction: column;
        justify-content: center;
    }
    .horarios__grid{
        
        grid-template-columns: 1fr;
        height: 300vh;
        grid-template-rows: repeat(6, 1fr) ;
        grid-template-areas:"portada"
                            "cardio"  
                            "yoga"
                            "box"
                            "spinning" 
                            "cross";
        
        
    }
    .columna__grid{
        height: 100vw; 
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:"musculacion "
                            "boxeo "
                            "cross"
                            "spinning "
                            "funcional" 
                            "relax";
        background-color: $color-secundario ;        
        
    }

    footer {
        
        grid-template-areas: "logo" 
                            "nuestrassedes" 
                            "contacto"
                            "redes"
                            "sedes"
                            "derechos";
                            
    margin: 5px;
    padding: 5px;
    width: 100vw;
}
    
}

/* MEDIA QUERIE DE TABLET */
@media  (min-width: 576px) and (max-width: 992px) {
    h1 {
        text-align:left;
        padding: 20px;
        font-size: 50px;
        font-family: 'Noto Sans Display', sans-serif;
        color:$color-principal;
        background-image: url('../resources/portadaindexsola.png');
        background-position:center;
        }
    .horarios__grid{
        
        height: auto;
        grid-template-columns:1fr; 
        grid-template-rows: repeat (6, 1fr) ;
        grid-template-areas:"portada"
                            "cardio"
                            "yoga "
                            "box"
                            "cardio "
                            "spinning "
                            "cross";
}
.tabla__horarios{
    width: 90vw;
    margin: 25px;
    height: 700px;
    
}
footer {
    grid-template-columns: 1fr;
    grid-template-areas: "logo" 
                        "nuestrassedes" 
                        "contacto"
                        "redes"
                        "sedes"
                        "derechos";
                        
margin: 5px;
padding: 5px;
width: 100vw;
}
}