/* EXTEND */

.background-centrado {
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
}

.extend-planes {
    width: 300px;
margin: 70px;
height:700px;
}

.extend-foto {
    width: 400px;
    height: 400px;
    margin: 20px;
}
.extend-sede {
    width: 320px;
    height: 320px;
    margin: 60px;
}